<!DOCTYPE html>
<html>
  <head>
    <title>DROUGHT TRACKER</title>
    <!-- Google Icon Fonts used by Materialize -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Materialize CSS Framework -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script defer src="/javascripts/app.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper teal">
        <a href="#!" class="brand-logo">DTracker</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
        <ul class="right hide-on-med-and-down">
          <li>
            <% if (user) { %>
            <a href="/logout"
              ><i class="material-icons left">trending_flat</i>Log Out <%=
              user.name %></a
            >
            <% } else { %>
            <a href="/auth/google"
              ><i class="material-icons left">vpn_key</i>Login with Google</a
            >
            <% } %>
          </li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li>
        <% if (user) { %>
        <a href="/logout"
          ><i class="material-icons left">trending_flat</i>Log Out <%= user.name
          %></a
        >
        <% } else { %>
        <a href="/auth/google"
          ><i class="material-icons left">vpn_key</i>Login with Google</a
        >
        <% } %>
      </li>
    </ul>

    <div>
      <table>
        <% farms.forEach(function(farm){%> <% if (user &&
        user._id.equals(farm.user[0]._id)) { %>

        <tr>
          <td><%=farm.farmName%></td>
          <td id="icons">
            <button class="editButton">
              <i class="small material-icons">mode_edit</i>
            </button>
              <button type="submit"><a href="/farms/delete/<%= farm._id %>">
                <i class="small material-icons">delete</i></a>
              </button>
            </form>
          </td>
        </tr>
        <tr class="hide" id="hiddenform">
          <td colspan="2">
            <form action="/farms/<%= farm._id %>" method="POST">
              <input type="text" name="farmName" value="<%=farm.farmName%>" />
              <button type="submit">Update</button>
            </form>
          </td>
        </tr>
        <% } %> <% }) %>
      </table>
    </div>

    <div>
    </br>
    <button class="btn waves-effect waves-light" type="submit" name="action" id="createNewFarm"><i class="material-icons right">add</i>Create New Farm
    </button>


    <div class="card-action hide" id="newFarmForm">
      <form action="/farms" method="POST">
        <label for="farmName">Farm Name</label>
        <input type="text" name="farmName" />
        <button type="submit" class="btn white-text">Add Farm</button>
      </form>
    </div>

    <!-- <div class="container">
      <a class="btn-floating btn-large waves-effect waves-light"
        ><i class="material-icons">add</i></a
      >
    </div> -->
  </body>
</html>
