<!DOCTYPE html>
<html>
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>

    <p><%= farm.farmName %></p>
    <p><%= farm.lat %></p>
    <p><%= farm.lon %></p>

    <div style="height: 500px">
      <canvas id="myChart"></canvas>
    </div>

    <div class="input-field col s12">
      <select>
        <option value="" disabled selected>Choose your option</option>
        <option value="1">Week</option>
        <option value="2">Month</option>
        <option value="3">Year</option>
      </select>
      <label>Materialize Select</label>
    </div>

    <div id="getbody" data-test="<%= body %>"></div>
    <script>
      var test = document.getElementById("getbody").dataset.test;
    </script>
    <script defer src="/javascripts/chart.js"></script>
  </body>
</html>
