<!DOCTYPE html>
<html>
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>

    <p><%= farm.farmName %></p>
    <p><%= farm.lat %></p>
    <p><%= farm.lon %></p>

    <canvas id="myChart"></canvas>

    <div id="getbody" data-test="<%= body %>"></div>
    <script>
      var test = document.getElementById("getbody").dataset.test;
    </script>
    <script defer src="/javascripts/chart.js"></script>
  </body>
</html>
