<!DOCTYPE html>
<html>
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>

    <p>
      <%= farm.farmName %> (<%= farm.lat.toFixed(2) %>, <%= farm.lon.toFixed(2)
      %>)
    </p>
    <p id="whoosh">
      <span id="precip"></span>
    </p>
    <p><span id="range">past month</span></p>

    <div style="height: 500px" id="chartContainer">
      <canvas id="myChart"></canvas>
    </div>

    <div id="chartOptions">
      <div id="1M"><a class="btn-floating">1M</a></div>

      <div id="3M"><a class="btn-floating disabled">3M</a></div>

      <div id="6M"><a class="btn-floating disabled">6M</a></div>

      <div id="1Y"><a class="btn-floating disabled">1Y</a></div>
    </div>

    <div id="getbody" data-test="<%= body %>"></div>
    <script>
      var test = document.getElementById("getbody").dataset.test;
    </script>
    <script defer src="/javascripts/chart.js"></script>
  </body>
</html>
